

.bgheader{
    background-image: url(/public/media/h2.jpg);
    background-attachment: fixed;
    height: 750px;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    border-bottom: 2px solid var(--verdino);;
    
}

body, .bgheader1{
    background: linear-gradient(rgba(38, 58, 43, 0.281), rgba(30, 58, 37, 0.463)),url(/public/media/piante.jpg);
    /* background-image: url(/public/media/h2.jpg); */
    background-attachment: fixed;
    /* height: 750px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-bottom: 2px solid var(--verdino);
    animation-name: moviment;
    animation-iteration-count: infinite;
    animation-duration: 45s;
    animation-timing-function: linear;
    
}

@keyframes moviment{
    0%{background-position: left;}
   100%{background-position: right;}
}


.bgtext{
    
    min-height: 100%;
    padding-top: 300px;
    
}
.h1size{
    min-width: 100%;
}
.headericon{
    border:1px solid rgba(255, 255, 255, 0.621);
    color: rgba(255, 255, 255, 0.621);
    width: 60px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}
.searchFormat{
   width: 70%; 
}


.title-header{

    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-shadow:2px 2px 3px#151B22;
    
}

.title-header2{

    font-family: 'Open Sans', sans-serif;
    color: var(--verdino);
    font-size: 70px;
    font-weight: 800;
    text-shadow:2px 1px 2px#151B22;
    
}

/* Bottone Crea "RightNow */

.btn-create-product {
    --color: #59ab6e;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: var(--bluscuro);
    border-radius: 6px;
    border: 2px solid white;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 25px;
    font-family:'Poppins', sans-serif;
    text-transform: uppercase;
    color: white !important;
    margin-bottom: 65px;
   }
   
   .btn-create-product::after, .btn-create-product::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn-create-product::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    
   }
   
   .btn-create-product:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    
   }
   
   .btn-create-product:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
    
   }
   
   .btn-create-product:hover {
    color: white !important;
    border: 2px solid white !important;
   }
   
   .btn-create-product:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

   .btn-create-text{

    text-shadow:2px 1px 2px#151B22;

   }
   /* BTN search color */

   .btn-search{

    background-color: #59ab6e;
    border: 2px solid white;

   }

   .btn-search:hover{

    color:#59ab6e !important;
    border: 2px solid #59ab6e;

   }

   .i-search{

    color:#fff;
    cursor: pointer;

   }

   .btn-search:hover .i-search{

    color: #59ab6e !important;
   } 

   

   /* Btn torna agli annunci */

.btn-come-back{

    background-color: #59ab6e;
}