
   .card1 {
    /* width: 400px;
    height: 500px; */
    background: white;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
    justify-content: center;
  }
  



  .card-img1 {
    width: 100%;
    height: 50%;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: top;
    justify-content: right;
  }
  
  .save {
    transition: 0.2s ease-in-out;
    border-radius:10px;
    margin-top: -560px;
    margin-right: 16px;
    width: 29px;
    height: 29px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px var(--bluscuro);
  }
  
  .text-title-card {
    
    margin: -2px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 22px;
    font-family: 'REM', sans-serif;
  }
  
  .save .svg {
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
  }
  
  .icon-box {
    margin-left: 13px;
    margin-top: 50px;
    width: 58%;
    padding: 8px;
    background-color: #181f25;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: var(--verdino);
    text-shadow: 2px 2px 2x black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .icon-box svg {
    width: 17px;
  }
  
  .text-title-card .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  
  .p-price {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 23px;
  }
  
  /* .icon-box .span {
    margin-left: 10px;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
  } */
  
  .card1:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(133, 33, 33, 0.1);
  }
  
  .save:hover {
    transform: scale(1.1) rotate(10deg);
  }
  
  .save:hover .svg {
    fill: #ced8de;
  }
   
  .btncardcustom{
    color: white !important;
    border: 2px solid white;
    background: linear-gradient(45deg, var(--bluscuro) 75%, var(--verdino)25%);
    display: flex;
    text-align: center;
    border-radius: 15px;
    min-width: 65px !important;
    max-width: 175px !important;
    padding: 8px;
    text-transform: capitalize;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.729);
  }
  .btncardcustom:hover{
    border: 2px solid whitesmoke !important;
  }

  .btncardcustom2{
    color: white !important;
    border: 2px solid white;
    background: linear-gradient(45deg, var(--bluscuro) 75%, var(--verdino)25%);
    font-size: 10px !important;
    display: flex;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.729);
    padding: 7px 10px 7px 10px;
  }
  .card{
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
  .card-title2{
  min-height: 40px !important;
  max-height: 41px !important;
  }

  .card:hover{ 
    border: 1px solid rgb(126, 125, 125) !important;
    box-shadow: .5px .5px .5px   rgb(248, 248, 248);
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
  }
  .text-gray{
    color: rgb(67, 67, 67);
  }
  @media screen and (max-width: 1286px){
   
      .btncardcustom{
        font-size: 10px !important;
        font-weight: lighter;
        min-width: 125px !important;
        justify-content: center;
        margin-right: 20px;
        margin-top: 5px !important;
      }
      .btncardcustom2{
        margin-top: 5px !important;
        font-size: 10px !important;
        border-radius: 50%;
      }
    /* .responsive-reposition{
      justify-content: center !important;
    } */
  }


  @media screen and (max-width: 990px){
    .card-title2{
      font-size: 15px !important;
      padding-top: 5px !important;
      min-height: 65px;
      }

      .card-body{
        padding-top: 5px !important;
      }

      .btncardcustom{
        font-size: 9px !important;
        font-weight: lighter;
        min-width: 95px !important;
        max-width: 105px !important;
        justify-content: center;
      }
      .btncardcustom2{
        margin-top: 2px !important;
        font-size: 8px !important;
        border-radius: 50%;
       
      }
    .responsive-title{
      font-size: 15px !important;
    } 
    .responsive-reposition{ 
      margin-top: 5px !important;
    }
  }